{% extends 'mysite/base.html' %}

{% load static %}
{% block extra_template_tag %}{% load extra_tags %}{% endblock %}
{% block sidebar %}{% home_sidebar request %}{% endblock %}

{% block title %}aljazeera news{% endblock %}
{% block content_header %}aljazeera news{% endblock %}
{% load render_table from django_tables2 %}


{% block breadcrumb_menu %}
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> nlp</a></li>
    <li class="active">sentiment analysis</li>
  </ol>
{% endblock %}

{% block extra_css %}
{#  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">#}
{#  <style>#}
{#      .overlay {#}
{#          display: none;#}
{#          position: absolute;#}
{#          top: 0;#}
{#          left: 0;#}
{#          width: 100%;#}
{#          height: 100%;#}
{#          background-color: rgba(255,255,255,0.8);#}
{#          z-index: 5000;#}
{#          text-align: center;#}
{#          padding-top: 20%;#}
{#      }#}
{#      .overlay i {#}
{#          font-size: 80px;#}
{#      }#}
{#  </style>#}
  <style>
    .disabled-link {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
  </style>
{% endblock %}


{% block main_content %}
{#  <div class="overlay">#}
{#    <h1>Processing...</h1><br>#}
{#    <i class="fa fa-refresh fa-spin"></i>#}
{#  </div>#}

{#  {% err_msg messages %}#}
  <div class="container-fluid">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Progress bars</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="progressBar" class="progress active">
          <div id="myProgress" class="progress-bar progress-bar-yellow progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="progress_text">0 %</span>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Recently news</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul id="myNews" class="products-list product-list-in-box">
        </ul>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <a id="jsonLink" href="{% url 'data_warehouse:aljazeera_scraping_json' %}" class="disabled-link">Download Json File</a>
      </div>
      <!-- /.box-footer -->
    </div>

    <div class="callout callout-warning">
      <h4>Reminder!</h4>
      <ul>
        <li>click logo to view sentiment analysis of each article</li>
        <li>
          click download json file for web scraping summary
          <ol>
            <li>columns=['timestamp', 'date', 'link', 'article title', 'article transcript', 'list of sentences']</li>
            <li>orient='index'</li>
          </ol>
        </li>
      </ul>
    </div>

  </div>

  <div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Default Modal</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


{#  <div class="box box-solid">#}
{#    <div class="box-body">#}
{#      <form class="form" method="GET" action="{% url 'data_warehouse:shipment_search' %}">#}
{#        <div class="row">#}
{#          {% for each in form %}#}
{#            <div class="col-lg-3 col-md-3">#}
{#              <div class="form-group">#}
{#                <em class="text-red">{{ each.errors }}</em>#}
{#                <label for="{{ each.id_for_label }}">{{ each.label }}</label>#}
{#                {% if each.help_text %}#}
{#                  <sup class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="{{ each.help_text }}"><i class="fas fa-info"></i></sup>#}
{#                {% endif %}#}
{#                {{ each }}#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#        </div>#}
{#        <button id="Search" type="submit" class="btn btn-primary" name="action" value="search">Search</button>#}
{#        <button type="submit" class="btn btn-primary" name="action" value="download-as-csv">Download as csv</button>#}
{#      </form>#}
{#    </div>#}
{#  </div>#}

{#  {% if table %}#}
{#    <div class="box box-solid">#}
{#      <div class="box-header">#}
{#        <h2 class="box-title">Data Table</h2>#}
{#      </div>#}
{#      <div class="box-body">#}
{#        {% if filter_msg %}#}
{#          <div id="filter-bar">#}
{#            <strong>{{ total_shipments }}</strong> total shipments returned for#}
{#            {% for key, value in filter_msg.items %}#}
{#              {% if forloop.counter == filter_msg|length %}#}
{#                {{ key }}: "<strong>{{ value }}</strong>"#}
{#              {% else %}#}
{#                {{ key }}: "<strong>{{ value }}</strong>",#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          </div>#}
{#          <br>#}
{#        {% endif %}#}
{#        {% render_table table %}#}
{#      </div>#}
{#    </div>#}
{#  {% endif %}#}
{% endblock %}

{% block extra_js %}
{#  <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>#}
  <script>
      var articleInHTML = 0;
      {#$(document).ready(function () {#}
      {#    function ShowLoading() {#}
      {#        $(".overlay").show();#}
      {#    }#}
      {#    $("#Search").on("click", ShowLoading)#}
      {##}
  </script>
  <script>
      function ProcessCheck() {
          var request = $.ajax({
              url: "{% url 'data_warehouse:scraping_process_track' %}",
              type: 'GET'
          });

          request.done(function(response) {
              if (response.status === 'success') {
                  $('#myProgress').attr('style', 'width:'+response['percent_of_completeness']+'%').attr('aria-valuenow', response['percent_of_completeness']);
                  $('#progress_text').html(response['percent_of_completeness']+' %')

                  for (var i=articleInHTML; i< response['articleInfo'].length; i++) {
                      var template = `
                                      <li class="item">
                                        <div class="product-img" data-toggle="modal" data-target="#modal-default">
                                          <img src="{% static 'img/log1.jpeg' %}" alt="Product Image">
                                        </div>
                                        <div class="product-info">
                                            <a href="${response['articleInfo'][i][1]}" class="product-title">${response['articleInfo'][i][2]}
                                                <span class="label label-warning pull-right">${response['articleInfo'][i][0]}</span>
                                            </a>
                                        </div>
                                      </li>
                                     `
                      articleInHTML++;
                      $('#myNews').append(template);
                  }
              }
              if (response['percent_of_completeness']===100) {
                  $('#progressBar').attr('class', 'progress');
                  $('#jsonLink').attr('class', '');
              }
          });
          request.fail(function(response) {
              console.log('Failed to track progress. Something is wrong in server.')
          });
      }

      function ProcessHandler() {
          setInterval(ProcessCheck, 200);
      }

      $(document).ready(function() {
          ProcessHandler();
      });
  </script>
{#  <script>#}
{#      $(document).ready(function () {#}
{#          $("th.asc").append("<br><span class ='glyphicon glyphicon-sort-by-attributes' style='color:#3c8dbc'></span>");#}
{#          $("th.desc").append("<br><span class ='glyphicon glyphicon-sort-by-attributes-alt' style='color:#3c8dbc'></span>");#}
{#      })#}
{#  </script>#}
{% endblock %}