{% extends 'mysite/base.html' %}

{% load static %}
{% block extra_template_tag %}{% load extra_tags %}{% endblock %}
{% block sidebar %}{% home_sidebar request %}{% endblock %}

{% block title %}aljazeera news{% endblock %}
{% block content_header %}aljazeera news{% endblock %}
{% load render_table from django_tables2 %}


{% block breadcrumb_menu %}
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> nlp</a></li>
    <li class="active">sentiment analysis</li>
  </ol>
{% endblock %}

{% block extra_css %}
  <style>
    .disabled-link {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
  </style>
{% endblock %}


{% block main_content %}
  <div class="container-fluid">
    <div class="box box-solid">
      <!-- /.box-header -->
      <div class="box-body">
        <div id="progressBar" class="progress active">
          <div id="myProgress" class="progress-bar progress-bar-yellow progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="progress_text"></span>
          </div>
        </div>
        <div id="progressBar_one" class="progress active">
          <div id="myProgress_one" class="progress-bar progress-bar-aqua progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="progress_text_one"></span>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><a href="https://www.aljazeera.com/news/">10 Most Recently News</a></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul id="myNews" class="products-list product-list-in-box">
        </ul>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <a id="jsonLink" href="{% url 'data_warehouse:aljazeera_scraping_json' %}" class="disabled-link">Download Json File</a>
      </div>
      <!-- /.box-footer -->
    </div>

    <div class="callout callout-warning">
      <h4>Reminder!</h4>
      <ul>
        <li>click logo to view sentiment analysis of each article</li>
        <li>
          click download json file for web scraping summary
          <ol>
            <li>columns=['timestamp', 'date', 'link', 'article title', 'article transcript', 'list of sentences']</li>
            <li>orient='index'</li>
          </ol>
        </li>
      </ul>
    </div>

  </div>

  <div id="model-collection">
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/plotly/plotly-2.12.1.min.js' %}"></script>
  <script>
      var articleInHTML = 0;
      var myInterval;
      var completeAnalysis = 0;
  </script>
  <script>
      function sentiment_analysis(index) {
          var request = $.ajax({
              url: "{% url 'data_warehouse:aljazeera_sentiment_analysis' %}",
              type: 'GET',
              data: {'index': index},
          });

          request.done(function(response) {
            var myIndex = index.toString();
            var template = `
                            <div class="modal fade" id="modal-default-${myIndex}" style="overflow: auto; white-space: nowrap;">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Sentiment Analysis <i class="fa fa-frown-o" aria-hidden="true"></i><i class="fa fa-meh-o" aria-hidden="true"></i><i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="box box-primary">
                                          <div class="box-header with-border">
                                            <h3 class="box-title">Histograms Chart</h3>
                                          </div>
                                          <div class="box-body chart-responsive">
                                            <div class="chart" id="bar-chart-${myIndex}" style="height: 350px;overflow: auto; white-space: nowrap;"></div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-6">
                                        <div class="box box-info">
                                          <div class="box-header with-border">
                                            <h3 class="box-title">Line Chart</h3>
                                          </div>
                                          <div class="box-body chart-responsive">
                                            <div class="chart" id="line-chart-${myIndex}" style="height: 350px;overflow: auto; white-space: nowrap;"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="box box-danger">
                                      <div class="box-header with-border">
                                        <h3 class="box-title">World Cloud</h3>
                                      </div>
                                      <div class="box-body chart-responsive">
                                        <img class="img-responsive pad" src="{{ MEDIA_URL }}/img/worldcloud/wc_${myIndex}.png" alt="wc" style="margin: auto;">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          `
            $('#model-collection').append(template);

            var trace1 = {
                x: response['polarity_score'],
                name: 'Polarity',
                histnorm: "count",
                marker: {
                    color: "rgba(255, 100, 102, 0.7)",
                    line: {
                        color:  "rgba(255, 100, 102, 1)",
                        width: 1
                    }
                },
                opacity: 1,
                type: "histogram",
                xbins: {
                    end: 1,
                    size: 0.03,
                    start: -1
                }
            };
            var trace2 = {
                x: response['subjectivity_score'],
                name: "Subjectivity",
                histnorm: "count",
                marker: {
                    color: "rgba(100, 200, 102, 0.7)",
                    line: {
                        color:  "rgba(100, 200, 102, 1)",
                        width: 1
                    }
                },
                opacity: 0.7,
                type: "histogram",
                xbins: {
                    end: 1,
                    size: 0.03,
                    start: 0

                }
            };
            var data = [trace1, trace2];
            var layout = {
                legend: {"orientation": "h"},
                barmode: "overlay",
                title: "Polarity & Subjectivity Distribution",
                xaxis: {
                    automargin: true,
                    title: 'Score',
                    showline: true,
                },
                yaxis: {
                    title: 'Textblob Score Distribution',
                    showgrid: true,
                    showline: true,
                    automargin: true,
                },
                autosize: true,
                margin: {
                    r: 0,
                },
            };
            Plotly.newPlot("bar-chart-"+myIndex, data, layout, {displayModeBar: false});


            var lineData = [{x: response['words_axis'], y: response['wordsFreq_axis']}];
            var lineLayout = {
                title: 'Words Frequency',
                showlegend: false,
                xaxis: {
                    automargin: true,
                    title: '25 Most Common Words',
                    showline: true,
                    showgrid: true,
                    showticklabels: true,
                    autotick: false,
                },
                yaxis: {
                    title: 'Count',
                    showgrid: true,
                    showline: true,
                    showticklabels: true
                },
                autosize: true,
                margin: {
                    r: 0,
                },
            };
            Plotly.newPlot('line-chart-'+myIndex, lineData, lineLayout, {displayModeBar: false});
            document.getElementById("icon_"+myIndex).style.display = "none";
            document.getElementById("img_"+myIndex).removeAttribute("hidden");
            completeAnalysis++;
            // progress bar
            var percent = (completeAnalysis/10*100);
            $('#myProgress_one').attr('style', 'width:'+percent+'%').attr('aria-valuenow', percent);
            $('#progress_text_one').html('Sentiment Analysis: '+percent+' %')
            if (completeAnalysis===10) {
                $('#progressBar_one').attr('class', 'progress');
            }
          });
          request.fail(function(response) {
              alert('ajax request fail 2');
          });
      }

      function ProcessCheck() {
          if (articleInHTML===10) clearInterval(myInterval);
          var request = $.ajax({
              url: "{% url 'data_warehouse:scraping_process_track' %}",
              type: 'GET',
          });

          request.done(function(response) {
            for (var i=articleInHTML; i< response.length; i++) {
                var template = `
                                <li class="item">
                                  <div class="product-img" data-toggle="modal" data-target="#modal-default-${i}">
                                    <i id="icon_${i}" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                    <img id="img_${i}" src="{% static 'img/log1.jpeg' %}" alt="Product Image" hidden>
                                  </div>
                                  <div class="product-info">
                                      <a href="${response[i][1]}" class="product-title">${response[i][2]}
                                          <span class="label label-warning pull-right">${response[i][0]}</span>
                                      </a>
                                  </div>
                                </li>
                               `
                articleInHTML++;
                $('#myNews').append(template);
                // progress bar
                var percent = (articleInHTML/10*100);
                $('#myProgress').attr('style', 'width:'+percent+'%').attr('aria-valuenow', percent);
                $('#progress_text').html('Article Fetch: '+percent+' %')
                if (articleInHTML===10) {
                    $('#progressBar').attr('class', 'progress');
                    $('#jsonLink').attr('class', '');
                }
                sentiment_analysis(i);
            }
          });
          request.fail(function(response) {
              alert('ajax request fail 1');
          });
      }

      function ProcessHandler() {
          myInterval = setInterval(ProcessCheck, 100);
      }

      $(document).ready(function() {
          ProcessHandler();
      });
  </script>
{% endblock %}